<div class="relative overflow-x-auto my-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Current Balanace
                </th>
                <th scope="col" class="px-6 py-3">
                    Availble Balace
                </th>
                <th scope="col" class="px-6 py-3">
                    Account Type
                </th>
            </tr>
        </thead>
        <tbody>
            <% @accounts.each do |account| %>
                <tr class="bg-white border-b dark:bg-gray-800 border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= account.name%>
                    </th>
                    <td class="px-6 py-4">
                        <%= account.current_balance%>
                    </td>
                    <td class="px-6 py-4">
                        <%= account.available_balance%>
                    </td>
                    <td class="px-6 py-4">
                        <%= account.account_subtype%>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>