<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto px-4 py-5 sm:px-6 lg:px-8">    
    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
        >
          <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-400">
            Total Expenses
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
            <%= current_user.total_transaction_amount%>
          </dd>
        </div>

        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
        >
          <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-400">
            Total Balance
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">24</dd>
        </div>

        <div
          class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
        >
          <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-400">
            Total Addons
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">86</dd>
        </div>
      </dl>
    </div>

    <%= render 'accounts_table'%>
  </div>
</section>